*{
    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Oranienbaum', serif;
    
}
body{
    background-color:white;
}
.contenedor-bnav{
    width: 100%;
    height: 700px;
    
    
    

}

.bnav1{
    width: 100%;
    height: 80px;
    background-color:rgb(3, 22, 46);
    /*border-bottom: solid 2px rgba(0, 0, 0, 0.623);*/
    /*background: linear-gradient(to right, rgba(2, 98, 177, 0.452) 0% , rgba(6, 80, 129, 0.555) 25%, rgba(15, 223, 126, 0.541) 50%);*/
    top: 0;
    transition: all 1s;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    backdrop-filter: blur(50px);
}


.textnav{
    width: 50%;
    color:hsl(0, 81%, 4%);
    align-self: center;
    font-size: 170%;
    text-align: left;
    position: relative;
    top: 400px;
    right: -10%;
    
    border-radius: 5px;
    backdrop-filter: blur(2px);
    box-shadow:  15px 15px 3px 3px rgba(0, 0, 0, 0.185);
    }
    .textnav span{
        height: 1px;
        width: 100%;
        background-color: cornsilk;
        border: 1px solid rgb(255, 255, 255)
        
    }
.textnav_a{
    text-decoration: none;
    color: black;
    border-radius: 50rem;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 35rem;
    padding: 8px 25px;
    transition: all 1s;
    transform: scale(1);
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    width: 150px;
    
}    
.textnav_h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:initial;
    font-size: 260%;
}
.contenedor-boton{
    align-self: center;
    width:auto;
    
    
    
}
.boton{
    
    background-color: none;
    align-self: center;
    border-radius: 50rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    padding: 8px 30px;
    display: inline-block;
    justify-content: flex-end;
    font-size: 15px;
    margin:10px;
    
}
.boton1  {
    
    background-color: none;
    align-self: center;
    padding: 8px 30px;
    display: inline-block;
    justify-content: flex-end;
    font-size: 15px;
    
    
    
}
.boton1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    
}

.boton:hover {
    background-color: rgb(255, 255, 255);
    
}
.boton:hover a {
    color: rgba(7, 1, 1, 0.767);
    
}
.boton a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    
}
.contentpag{

    display: flex;
    width: 100%;
    height: 60px;
    
    position: relative;
    font-size: 200px;
    flex-wrap: wrap;
    color: whitesmoke;
    
    
}
.contentpag-items{
    min-width: 200px;
    width: 25%;
    display: flex;
    justify-content: center;
    height: 340px;
    margin-top: 0px;
    ]
    align-content: center;
    }
.contentpag-items1 {
    background-color: rgb(233, 181, 37);
    
        
    }  
.contentpag-items2 {
       background-color: rgb(77, 199, 199); 
    }  
.contentpag-items3 {
        background-color: rgb(29, 32, 240);
    }  
.contentpag-items4 {
        background-color: rgb(90, 13, 126);
    } 
 .fa-address-book{
     
     position: relative;
     
 }
 .icon1 a i{
     text-decoration: none;
     color: whitesmoke;
 }
 .icon2 a i{
    text-decoration: none;
    color: whitesmoke;
}
.icon3 a i{
    text-decoration: none;
    color: whitesmoke;
}
.icon4 a i{
    text-decoration: none;
    color: whitesmoke;
}
 
.main{
    width: 100%;
    height: 600px;
    background-color: rgb(224, 224, 224);
    display: grid;
    
    
}

/*css formulario de la pagina*/
.body_form{
    background-color: red;
}
.container{
    display: flex;
    width: 50%;
    height: 700px;
    margin: auto;
   
    margin-top: 50px;
    background-color: none;
    
}
.flex-item_photo{
    width: 50%;
    background-image: url(../img/125.jpg);
    

}
.flex-item_form{
    background-color: rgba(255, 255, 255, 0.623);
    width: 50%;
    backdrop-filter: blur(2px);
}
.carousel{
    height: 700px !important; 
    margin-top: 80px;
    
}
.indicator-item {
    background: rgba(119, 119, 118, 0.089) !important;
    width: 16px  !important;
    height: 16px !important;
    border:2px solid white;
    bottom: 40px;
    border-radius: none !important;
}
.c1{
    /*background-image: url(https://www.itep.es/wp-content/uploads/2021/01/Te%CC%81cnico-Superior-en-Transporte-y-Logi%CC%81stica.jpg) !important ;
    background-repeat: no-repeat;
    background-size:initial;*/
}

.indicator-item:hover{
    background: rgb(3, 11, 82)  !important;
}
}

@media screen and (max-width:450px) {
    