*{
    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Oranienbaum', serif;
    
}
body{
    background-color:white;
}
.contenedor-bnav{
    width: 100%;
    height: 700px;
    background-image:url(https://mecaluxmx.cdnwm.com/blog/img/logistica-integral.1.9.jpg);
    background-size: none;
    

}

.bnav1{
    width: 100%;
    height: 80px;
    background-color:rgb(3, 22, 46);
    /*border-bottom: solid 2px rgba(0, 0, 0, 0.623);*/
    /*background: linear-gradient(to right, rgba(2, 98, 177, 0.452) 0% , rgba(6, 80, 129, 0.555) 25%, rgba(15, 223, 126, 0.541) 50%);*/
    top: 0;
    transition: all 1s;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    backdrop-filter: blur(50px);
}


.textnav{
    width: 50%;
    color:hsl(0, 81%, 4%);
    align-self: center;
    font-size: 170%;
    text-align: left;
    position: relative;
    top: 400px;
    right: -10%;
    
    border-radius: 5px;
    backdrop-filter: blur(2px);
    box-shadow:  15px 15px 3px 3px rgba(0, 0, 0, 0.185);
    }
    .textnav span{
        height: 1px;
        width: 100%;
        background-color: cornsilk;
        border: 1px solid rgb(255, 255, 255)
        
    }
.textnav_a{
    text-decoration: none;
    color: black;
    border-radius: 50rem;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 35rem;
    padding: 8px 25px;
    transition: all 1s;
    transform: scale(1);
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    width: 150px;
    
}    
.textnav_h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:initial;
    font-size: 260%;
}
.contenedor-boton{
    align-self: center;
    width:auto;
    
    
    
}
.boton{
    
    background-color: none;
    align-self: center;
    border-radius: 50rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    padding: 8px 30px;
    display: inline-block;
    justify-content: flex-end;
    font-size: 15px;
    margin:10px;
    
}
.boton1  {
    
    background-color: none;
    align-self: center;
    padding: 8px 30px;
    display: inline-block;
    justify-content: flex-end;
    font-size: 15px;
    
    
    
}
.boton1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    
}

.boton:hover {
    background-color: rgb(255, 255, 255);
    
}
.boton:hover a {
    color: rgba(7, 1, 1, 0.767);
    
}
.boton a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
    
}
.contentpag{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    position: relative;
    top: 50px;
    flex-wrap: wrap;
    
}
.contentpag-items{
    min-width: 250px;
    width: 20%;
    max-width: 100%;
    height: 300px;
    margin-top: 20px;
    }
.contentpag-items_img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
    border-radius: 3px;
}
.contentpag-text{
    width: 85%;
    height: 40%;
    /*background: linear-gradient(to right, rgb(209, 206, 6) 0% , rgba(134, 233, 35, 0.897) 25%, rgb(15, 223, 126) 50%);*/
    background: rgb(3, 22, 46);
    position: relative;
    top: -22%;
    left: 15%;
    backdrop-filter: blur(10px);
}
.contentpag-text h6{
    font-size: 20px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.contentpag-text p{
    font-family: 'Roboto', sans-serif;
    padding: 3%;
    text-align: left;
    color: thistle;
}
.main{
    width: 100%;
    height: 300px;
    background-color: rgb(3, 22, 46);
    display: flex;
    position: relative;
    top: 400px;
}

/*css formulario de la pagina*/
.body_form{
    background-color: red;
}
.container{
    display: flex;
    width: 50%;
    height: 700px;
    margin: auto;
   
    margin-top: 50px;
    background-color: none;
    
}
.flex-item_photo{
    width: 50%;
    background-image: url(../img/125.jpg);
    

}
.flex-item_form{
    background-color: rgba(255, 255, 255, 0.623);
    width: 50%;
    backdrop-filter: blur(2px);
}



@media screen and (max-width:450px) {
    