*{
    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Oranienbaum', serif;
    
}
body{
    background-color:white;
}
.contenedor-bnav{
    width: 100%;
    height: 700px;
    
    
    

}

.bnav1{
    width: 100%;
    height: 80px;
    background-color:rgb(255, 255, 255);
    
    top: 0;
    transition: all 1s;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    backdrop-filter: blur(50px);
    
}

.contenedor-boton {
    align-self: center;
    width:auto;
    
    
    
    
}
.contenedor-boton a{
    font-family: 'Anton', sans-serif;
}
.boton{
    
    background-color: none;
    align-self: center;
    border-radius: 50rem;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    padding: 8px 30px;
    display: inline-block;
    justify-content: flex-end;
    font-size: 15px;
    margin:10px;
    
}
.boton1  {
    
    background-color: none;
    align-self: center;
    padding: 8px 30px;
    display: inline-block;
    justify-content: flex-end;
    font-size: 15px;
    
    
    
}
.boton1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    
}

.boton:hover {
    background-color: rgb(136, 136, 136);
    
}
.boton:hover a {
    color: rgba(255, 255, 255, 0.767);
    
}
.boton a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
    
}
.c1{
    background-image: url(../img/20200717_163827.jpg);
    background-size:2000px;
}
.c2{
    background-image: url(../img/20200723_185729.jpg);
    background-size:2000px;
}
.c3{
    background-image: url(../img/20200723_185745.jpg);
    background-size:2000px;
}
.c4{
    background-image: url(../img/20200723_185830.jpg);
    background-size:2000px;
}
.contentpag{

    display: flex;
    width: 100%;
    height: 250px;
    font-size: 150px;
    flex-wrap: wrap;
    color: whitesmoke;
    
    
}
.contentpag-items{
    width: 25%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    height: 250px;
    align-content: center;
}
    
.contentpag-items1 {
    background-color: rgb(63, 160, 71);
    
        
    }  
.contentpag-items2 {
       background-color: rgb(77, 199, 199); 
    }  
.contentpag-items3 {
        background-color: rgb(29, 32, 240);
    }  
.contentpag-items4 {
        background-color: rgb(90, 13, 126);
    } 
 .fa-address-book{
     
     position: relative;
     
 }
 .icon1 a i{
     text-decoration: none;
     color: whitesmoke;
 }
 .icon2 a i{
    text-decoration: none;
    color: whitesmoke;
}
.icon3 a i{
    text-decoration: none;
    color: whitesmoke;
}
.icon4 a i{
    text-decoration: none;
    color: whitesmoke;
}
 
.oferta{
    width: 100%;
    height: 330px;
    background-color: rgb(224, 224, 224);
    font-family: 'Anton', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
}
.oferta h1{
    font-family: 'Anton', sans-serif; 
    color:rgb(23, 48, 160) ;
    font-size: px;
}
.oferta p{
    color: black;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    
}
.oferta-h1{
    height: auto;
    width: auto;
     align-self: center;
}
.oferta-p{
    height: 70%;
    width: 70%;
    
    align-self: center;
    text-align: center;
}
/*css formulario de la pagina*/
.body_form{
    background-color: red;
}
.container{
    display: flex;
    width: 50%;
    height: 700px;
    margin: auto;
   
    margin-top: 50px;
    background-color: none;
    
}
.flex-item_photo{
    width: 50%;
    background-image: url(../img/125.jpg);
    

}
.flex-item_form{
    background-color: rgba(255, 255, 255, 0.623);
    width: 50%;
    backdrop-filter: blur(2px);
}
.carousel{
    height: 700px !important; 
    margin-top: 80px;
    
}
.indicator-item {
    background: rgba(119, 119, 118, 0.089) !important;
    width: 16px  !important;
    height: 16px !important;
    border:2px solid rgb(0, 0, 0);
    bottom: 40px;
    border-radius: none !important;
}


.indicator-item:hover{
    background: rgb(3, 11, 82)  !important;
}


@media screen and (max-width:450px) {
    